.tapecell{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.boxtape {
  background-color: rgb(240, 209, 198);
  width: 200px;
  height: 65px;
  border: 1px solid black;
  overflow: hidden;
}